.productPreviewCard {
  background: #ededed;
  padding: 1rem;
  border-radius: 0.5rem;
  .cardTitle {
    font-size: 0.9rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .priceTag {
    font-size: 0.8rem;
    &::after {
      content: '₺';
      padding-left: 0.2rem;
    }
  }
}
