@use '../abstracts' as *;
.cart {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  background-color: $light;
  border-left: 1px solid $primary;
  transition: all 0.4s ease;
  .titleBar {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid $primary;
    .closeButton {
      cursor: pointer;
      fill: $light;
      display: grid;
      place-items: center;
      margin-left: 0.5rem;
      border-radius: 50%;
      background-color: $primary;
    }
    h3 {
      color: $primary;
      width: 100%;
      text-align: center;
    }
  }
}
.cartOpen {
  transform: translateX(400px);
}
.cartClose {
  transform: translateX(0);
}
